AWS_PROFILE=default
AWS_REGION=ap-southeast-1

S3_BUCKET=vendor-payments-data-platform-thana
S3_PREFIX=data-platform/vendor-payments

PROJECT1_ROOT=E:\dev\vendor-payments-etl-analytics

REDSHIFT_WORKGROUP=default-workgroup
REDSHIFT_DATABASE=dev